@import '/node_modules/bootstrap/scss/bootstrap';

// vendors-overrides
@import "vendors-overrides/bootstrap-container-override";
@import "vendors-overrides/bootstrap-buttons-override";
@import "vendors-overrides/bootstrap-forms-override";
@import "vendors-overrides/bootstrap-cards-override";

// base
@import 'base/reset';
@import 'base/fonts';

// abstracts
@import 'abstracts/variables';

// components
@import "components/buttons";


.section-title{
  font-weight: bold;
}

.section-secondary-title{
  font-size: 13px;
  font-weight: 400;
  color: $color-github-purple;
}
