@import '/node_modules/bootstrap/scss/bootstrap';

// vendors-overrides
@import "vendors-overrides/bootstrap-buttons-override";

// base
@import 'base/reset';
@import 'base/fonts';

// abstracts
@import 'abstracts/variables';

// components
@import "components/buttons";


.section-title{
  font-weight: bold;
}

.section-secondary-title{
  font-size: 13px;
  font-weight: 400;
  color: $color-github-purple;
}

.section{
  padding: 100px 100px 0;
  max-width: 1200px;
  margin: 0 auto;
}
