<section class="section">
  <h1 class="section-title">Skills</h1>
  <p class="section-paragraph">- Hello! I am a highly skilled Front-end developer with 5+ years of experience in the tech industry.
    Throughout my career, I have had the opportunity to work on a variety of projects and build my skills in
    <span class="section-secondary-title">HTML</span>,
    <span class="section-secondary-title">CSS</span>,
    <span class="section-secondary-title">Sass</span>,
    <span class="section-secondary-title">Less</span>,
    <span class="section-secondary-title">Stylus</span>,
    <span class="section-secondary-title">Bootstrap</span>,
    <span class="section-secondary-title">JavaScript</span>,
    <span class="section-secondary-title">JQuery</span>,
    <span class="section-secondary-title">Angular (2+)</span>,
    <span class="section-secondary-title">Angular Material</span>,
    <span class="section-secondary-title">Git</span>,
    <span class="section-secondary-title">Adobe Photoshop</span>,
    <span class="section-secondary-title">Adobe Illustrator</span>, and
    <span class="section-secondary-title">Adobe Experience Design</span>.
  </p>
</section>

<section class="section">
  <h1 class="section-title">& Experience</h1>
  <p class="section-paragraph">
    - I have a strong background in participating in agile development teams and Scrum processes and
    have worked on projects ranging from creating projects from the beginning to
    implementing new features and refactoring.
    I have also had the opportunity to lecture on markup development and have a strong portfolio of past work,
    including
    <span class="section-secondary-title">crocobet.com</span>,
    <span class="section-secondary-title">Optimo(Stock management program)</span>, and
    <span class="section-secondary-title">tsu.ge</span>.
  </p>

  <p class="section-paragraph">
    - For mor information, you can check my
    <a href="https://www.linkedin.com/in/natalia-balakhashvili-1a75a2173/"
       class="section-secondary-title">
      LinkedIn
    </a>
  </p>
</section>
