<div class="menu_logo">
  @nataliebale
</div>

<nav class="menu-nav">
  <ul>
    <li *ngFor="let item of menuItems" class="menu-nav_item">
      <a [routerLink]="item.url"
         routerLinkActive="menu-nav_item--active"
         class="menu-nav_item--link"
         (click)="toggleChangeEmit.emit()">
        {{ item.title }}
      </a>
    </li>
  </ul>
</nav>

<div class="menu_footer">
  <div class="socials">
    <a href="https://github.com/nataliebale/portfolio" target="_blank">
      GitHub
    </a> |
    <a href="https://www.linkedin.com/in/natalia-balakhashvili-1a75a2173/" target="_blank">
      LinkedIn
    </a> |
    <a href="mailto:natalia.balakhashvilii@gmail.com" target="_blank">
      Mail
    </a>
  </div>
  <a class="btn primary-btn resume-btn">
    <span>Resume</span>
  </a>
  <div class="copyright section-secondary-title text-center">
    Designed & built by me.
  </div>
</div>
