<header>
  <div class="menu-left">
    <app-menu (toggleChangeEmit)="onToggleBarChange()"></app-menu>
  </div>

  <div class="menu-right" [class.show]="showHeader">
    <a [routerLink]="'home'" class="menu-right_logo">
      N
    </a>
    <div class="toggle-bar"
         [class.active]="toggleBarIsActive"
         (click)="onToggleBarChange()">
      <div>
        <div class="toggle-bar_line"></div>
        <div class="toggle-bar_line"></div>
      </div>
    </div>
    <div class="socials">
      <a href="https://github.com/nataliebale" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/natalia-balakhashvili-1a75a2173/" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="mailto:natalia.balakhashvilii@gmail.com" target="_blank">
        <i class="fa-sharp fa-solid fa-at"></i>
      </a>
    </div>
  </div>
</header>
