@use 'src/assets/scss/abstracts/variables' as variables;

header{
  display: flex;
  width: 100%;
  height: 100vh;
  transition: 0.3s;
  background: variables.$color-primary-gray;
}

.menu{
  &-left{
    width: 320px;
    background: variables.$color-secondary-gray;

    @media #{variables.$media-mobile-sm} {
      width: 100%;
    }
  }

  &-right{
    width: 100px;

    @media #{variables.$media-mobile-sm} {
      position: fixed;
      z-index: 111;
      top: 0;
      width: 100%;
      left: 0;
      background: rgba(variables.$color-primary-gray, 0.8);
      backdrop-filter: blur(8px);
      display: flex;
      justify-content: space-between;
    }

    &_logo{
      font-weight: 900;
      text-align: center;
      display: block;
      color: variables.$color-github-purple;
      font-size: 46px;
      height: 99px;
      border-bottom: 1px solid variables.$color-secondary-gray;
      line-height: 100px;
      transition: 0.2s ease-in-out;
      text-shadow: 5px 5px variables.$color-github-purple-shadow;

      @media #{variables.$media-mobile-sm} {
        width: 100px;
        background: transparent;
      }

      &:hover{
        background: variables.$color-secondary-gray;
      }
    }
  }
}

.toggle-bar{
  height: 99px;
  border-bottom: 1px solid variables.$color-secondary-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;

  @media #{variables.$media-mobile-sm} {
    width: 100px;
  }

  &_line{
    margin: 5px auto;
    width: 31px;
    height: 3px;
    background: variables.$color-text-gray;
    border-radius: 5px;
    transition: 0.2s;
    box-shadow: 2px 2px variables.$color-github-purple-shadow;

    &:last-child{
      width: 20px;
    }
  }

  &:hover,
  &.active{
    background: variables.$color-secondary-gray;
  }

  &.active{
    .toggle-bar_line:first-child{
      transform: rotate(30deg) translateY(4px);
    }
    .toggle-bar_line:last-child{
      width: 31px;
      transform: rotate(-30deg) translateY(-5px);
    }
   }
}

.socials{
  position: absolute;
  width: 100px;
  bottom: 100px;

  @media #{variables.$media-mobile-sm} {
    display: none;
  }


  a{
    display: block;
    font-size: 16px;
    text-align: center;

    @media #{variables.$media-mobile-sm} {
      display: inline-block;
    }

    &:hover {
      i{
        color: variables.$color-github-purple;
      }
    }
  }

  i{
    transition: 0.2s;
    color: variables.$color-text-gray;
    margin: 8px;
    text-shadow: 2px 2px variables.$color-github-purple-shadow;
  }

  &::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 90px;
    left: 49px;
    bottom: -100px;
    background: variables.$color-github-purple;
  }
}

