header{
  display: flex;
  width: 420px;
  height: 100vh;
  background: #2D2D2D;
}

.menu{
  &-left{
    width: 320px;
    background: #333333;

    &_logo{
      color: #9663d6;
    }
  }

  &-right{
    width: 100px;

    &_logo{
      color: #9663d6;
    }
  }
}
