@use 'src/assets/scss/abstracts/variables' as variables;

header{
  display: flex;
  width: 420px;
  height: 100vh;
  background: #2D2D2D;
}

.menu{
  &-left{
    width: 320px;
    background: #333333;

    &_logo{
      background: #2D2D2D;
      font-weight: 900;
      display: flex;
      align-items: center;
      color: #848484;
      height: 98px;
      border-right: 1px solid #333333;
      padding-left: 40px;
    }
  }

  &-right{
    width: 100px;

    &_logo{
      font-weight: 900;
      text-align: center;
      display: block;
      color: variables.$color-github-purple;
      font-size: 30px;
      height: 99px;
      border-bottom: 1px solid #333333;
      line-height: 100px;
    }
  }

  &-nav{
    margin-top: 140px;
  }

  &-nav_item{
    &--link{
      padding: 15px 8px;
      cursor: pointer;
      display: block;
      color: #848484;
      font-weight: 600;
      font-size: 18px;
      transform: scale(1, 1);
      transition: .3s ease-in-out;
      position: relative;

      &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background: #848484;
        left: 10px;
        top: 28px;
        transition: .3s ease-in-out;
      }

      &:hover{
        color: white;
        transform: translateX(20px);
        filter: blur(0px);

        &::after{
          width: 10px;
          left: -10px;
        }
      }
    }
  }
}
