.app{

  &-body {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  &-header{
    width: 420px;
    z-index: 1;
    position: relative;
    left: -320px;
    transition: left 0.3s ease;

    &.open{
      left: 0;
    }
  }

  &-main{
    background: #dddddd;
    width: calc(100% - 100px);
    margin-left: -320px;
    position: relative;
    transition: margin 0.3s ease;

    &.open{
      margin-left: 0px;
    }
  }
}

