<section class="home-section">
  <h1>Me?</h1>
  <p>Hi, I'm Natalia Balakhashvili</p>
  <p>Front-end developer</p>
  <p>JavaScript | Angular | TypeScript</p>
</section>

<section class="home-section">
  <h1>About me.</h1>
  <p>Are you looking for an ambitious front-end developer who is not afraid to take some challenging projects?
    I think you're in the right place!
  </p>
  <p>If I need to define myself in one sentence that would be a person who is an
    art enthusiast and tech-obsessed at the same time!
  </p>
</section>
