<section class="section">
  <h1 class="section-title">Me?</h1>
  <p class="section-paragraph">Hi, I'm Natalia Balakhashvili</p>
  <p class="section-paragraph">Front-end developer</p>
  <span class="section-secondary-title">JavaScript, Angular, TypeScript</span>
</section>

<section class="section">
  <h1 class="section-title">About me.</h1>

  <p class="section-paragraph">
    - As an art lover with a fervent interest in technology,
    I am constantly exploring the creative possibilities that arise from merging these two worlds.
    I am not one to shy away from challenging tech projects,
    and I am always eager to apply my natural curiosity to push beyond the boundaries of what is currently possible.
  </p>

  <p class="section-paragraph">
    - As someone who is detail-oriented yet able to keep sight of the bigger picture,
    I am able to balance the nitty-gritty technical aspects of a project with a broader,
    more creative perspective.
    This ability to maintain perspective and balance has served me well in both my professional and personal endeavors.
  </p>

  <p class="section-paragraph">
    - Overall, I am a tech-loving, art-appreciating, and detail-oriented individual
    who is passionate about taking on challenging projects and making a positive impact in the world of tech.
  </p>

  <p class="section-paragraph">
    - For mor information, you can check my
    <a href="https://www.linkedin.com/in/natalia-balakhashvili-1a75a2173/"
       class="section-secondary-title">
      LinkedIn
    </a>
  </p>
</section>
