<section class="home-section">
  <h1 class="section-title">Me?</h1>
  <p class="section-paragraph">Hi, I'm Natalia Balakhashvili</p>
  <p class="section-paragraph">Front-end developer</p>
  <span class="section-secondary-title">JavaScript | Angular | TypeScript</span>
</section>

<section class="home-section">
  <h1 class="section-title">About me.</h1>
  <p class="section-paragraph">- Are you looking for an ambitious front-end developer who is not afraid to take some challenging projects?
    I think you're in the right place!
  </p>
  <p class="section-paragraph">- If I need to define myself in one sentence that would be a person who is an
    art enthusiast and tech-obsessed, that gives me ability to think outside a box and be detail-oriented  at the same time.
  </p>
</section>
