<section class="section">
  <h1 class="section-title">
    Projects
  </h1>
  <p class="section-paragraph">
    As a 5+ year veteran in the tech industry,
    I have had the chance to work on a variety of projects and hone my skills in:
  </p>

  <p class="section-paragraph">
    <span class="skill">HTML</span>
    <span class="skill">CSS</span>
    <span class="skill">Sass</span>
    <span class="skill">Less</span>
    <span class="skill">Stylus</span>
    <span class="skill">Bootstrap</span>
    <span class="skill">JavaScript</span>
    <span class="skill">JQuery</span>
    <span class="skill">Angular (2+)</span>
    <span class="skill">Angular Material</span>
    <span class="skill">Git</span>
    <span class="skill">Adobe Photoshop</span>
    <span class="skill">Adobe Illustrator</span>
    <span class="skill">Adobe Experience Design</span>
  </p>
</section>

<section class="section">
  <div>
    <div class="item row">
      <div class="item_image col-lg-6 col-sm-12">
        <img src="assets/images/projects/sam.png" alt="">
      </div>
      <div class="col-lg-6 col-sm-12">
        <h1 class="item_title">
          SAM - Smart Asset Manager
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, Angular, RxJS, NgRx, Scrum, Agile Methodologies
        </span>
        <p class="item_description">
          SAM is a management and control solution software for construction companies.
          The software includes: individual equipment profiles, transparent planning and real usage, equipment, personnel & crew management.
        </p>
        <a href="https://syniotec.com/syniotec-produkte/sam/" target="_blank" class="btn primary-btn light item_link">
          <span>View</span>
        </a>
      </div>
    </div>
    <div class="item row">
      <div class="item_image col-lg-6 col-sm-12">
        <img src="assets/images/projects/crocobet.png" alt="">
      </div>
      <div class="col-lg-6 col-sm-12">
        <h1 class="item_title">
          Crocobet.com
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, Angular, RxJS, NgRx, Scrum, Agile Methodologies
        </span>
        <p class="item_description">
          Worked in a team with other developers to redesign and refactor the main website
          of the gambling company (Crocobet). Worked as an Angular and Markup developer.
        </p>
        <a href="https://crocobet.com/#/" target="_blank" class="btn primary-btn light item_link">
          <span>View</span>
        </a>
      </div>
    </div>

      <div class="item row">
        <div class="item_image col-lg-6 col-sm-12">
          <img src="assets/images/projects/optimo.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="item_title">
            Optimo
          </h1>
          <span class="section-secondary-title">
            HTML, CSS, Angular, Angular Material, RxJS, NgRx, Scrum, Agile Methodologies
          </span>
          <p class="item_description">
            Participated in creating stock management software (Optimo) for
            businesses to manage and control stocks, adjust waybills, and track statistics.
            Worked as an Angular and markup developer.</p>
          <a href="https://optimo.ge/en" target="_blank" class="btn primary-btn light item_link">
            <span>View</span>
          </a>
        </div>
      </div>

      <div class="item row">
        <div class="item_image col-lg-6 col-sm-12">
          <img src="assets/images/projects/hualing.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="item_title">
            Hualing Insurance
          </h1>
          <span class="section-secondary-title">
            HTML, CSS, JavaScript, JQuery, MaterializeCSS
          </span>
          <p class="item_description">
            Created a front-end application for Hualing Insurance. Worked as a Markup/Javascript developer.
          </p>
          <a href="https://nataliebale.github.io/hualing-insurance/" target="_blank" class="btn primary-btn light item_link">
            <span>View</span>
          </a>
        </div>
      </div>

      <div class="item row">
        <div class="item_image col-lg-6 col-sm-12">
          <img src="assets/images/projects/tsu.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="item_title">
            Tbilisi State University (tsu.ge)
          </h1>
          <span class="section-secondary-title">
            HTML, CSS, JavaScript, JQuery, MaterializeCSS
          </span>
          <p class="item_description">
            Created a front-end application for my university. Worked as a Markup/Javascript developer.
          </p>
          <a href="https://nataliebale.github.io/tsu/" target="_blank" class="btn primary-btn light item_link">
            <span>View</span>
          </a>
        </div>
      </div>

      <div class="item row">
        <div class="item_image col-lg-6 col-sm-12">
          <img src="assets/images/projects/elita-burji.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="item_title">
            Elitaburji
          </h1>
          <span class="section-secondary-title">
            HTML, CSS, JavaScript, JQuery, MaterializeCSS
          </span>
          <p class="item_description">
            Created a front-end application for the construction company. Worked as a Markup/Javascript developer.
          </p>
          <a href="https://nataliebale.github.io/elitaburji/" target="_blank" class="btn primary-btn light item_link">
            <span>View</span>
          </a>
        </div>
      </div>
  </div>
</section>

<section class="section">
  <h1 class="section-title">
    Other noteworthy projects
  </h1>
  <p class="section-paragraph">
    View the archives
  </p>
</section>

<section class="section">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Turebi.ge
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for the tourist portal. Worked as a Markup/Javascript developer.</p>
        <a href="https://www.turebi.ge/en/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          KMG
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for the law firm. Worked as a Markup/Javascript developer.</p>
        <a href="https://nataliebale.github.io/kmg/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Office1.ge
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="https://office1.ge/ka/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Myadvokat.ge
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="https://www.myadvokat.ge/ka/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Oktravel.ge
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="https://www.oktravel.ge/ka/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Tbilisi-lighting.ge
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="http://tbilisi-lighting.ge/ka/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Panorama Tbilisi
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="http://pm.ge/ka/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Mocvi.ge
        </h1>
        <span class="section-secondary-title">
          HTML, CSS, JavaScript, JQuery, MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="http://www.mocvi.ge/ka/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-12">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Myclient.ge
        </h1>
        <span class="section-secondary-title">
                HTML, CSS, JavaScript, JQuery, MaterializeCSS
              </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="https://www.myclient.ge/" target="_blank" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

  </div>
</section>
