<section class="section">
  <h1 class="section-title">
    Projects
  </h1>
  <p class="section-paragraph">
    As a 5+ year veteran in the tech industry,
    I have had the chance to work on a variety of projects and hone my skills in
    <span class="section-secondary-title">HTML</span>,
    <span class="section-secondary-title">CSS</span>,
    <span class="section-secondary-title">Sass</span>,
    <span class="section-secondary-title">Less</span>,
    <span class="section-secondary-title">Stylus</span>,
    <span class="section-secondary-title">Bootstrap</span>,
    <span class="section-secondary-title">JavaScript</span>,
    <span class="section-secondary-title">JQuery</span>,
    <span class="section-secondary-title">Angular (2+)</span>,
    <span class="section-secondary-title">Angular Material</span>,
    <span class="section-secondary-title">Git</span>,
    <span class="section-secondary-title">Adobe Photoshop</span>,
    <span class="section-secondary-title">Adobe Illustrator</span>, and
    <span class="section-secondary-title">Adobe Experience Design</span>.
  </p>
</section>

<section class="section">
  <div class="row">
    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Crocobet.com
        </h1>
        <span class="section-secondary-title">
          Html | Css | Angular | TypeScript | RxJS | NgRx | Scrum | Agile Methodologies
        </span>
        <p class="projects-item_description">
          Worked in a team with other developers to redesign and refactor the main website of the gambling company (Crocobet). Worked as an Angular and Markup developer.
        </p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>


    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Optimo
        </h1>
        <span class="section-secondary-title">
          Html | Css | Angular | Angular Material | TypeScript | RxJS | NgRx | Scrum | Agile Methodologies
        </span>
        <p class="projects-item_description">
          Participated in creating stock management software (Optimo) for businesses to manage and control stocks, adjust waybills, and track statistics. Worked as an Angular and markup developer.
        </p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Hualing Insurance
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for Hualing Insurance. Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Tbilisi State University (tsu.ge)
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for my university. Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Elitaburji.com
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for the construction company. Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          K | M | G
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for the law firm. Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Turebi.ge
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Created a front-end application for the tourist portal. Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Office1.ge
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          myadvokat.ge
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          Oktravel.ge
        </h1>
        <span class="section-secondary-title">
          Html | Css | JavaScript | JQuery | MaterializeCSS
        </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="projects-item">
        <h1 class="projects-item_title">
          tbilisi-lighting.ge
        </h1>
        <span class="section-secondary-title">
            Html | Css | JavaScript | JQuery | MaterializeCSS
          </span>
        <p class="projects-item_description">
          Worked as a Markup/Javascript developer.</p>
        <a href="" class="btn primary-btn light projects-item_link">
          <span>Check the website</span>
        </a>
      </div>
    </div>

  <div class="col-6">
    <div class="projects-item">
      <h1 class="projects-item_title">
        Panorama Tbilisi
      </h1>
      <span class="section-secondary-title">
              Html | Css | JavaScript | JQuery | MaterializeCSS
            </span>
      <p class="projects-item_description">
        Worked as a Markup/Javascript developer.</p>
      <a href="" class="btn primary-btn light projects-item_link">
        <span>Check the website</span>
      </a>
    </div>
  </div>
  <div class="col-6">
    <div class="projects-item">
      <h1 class="projects-item_title">
        Mocvi.ge
      </h1>
      <span class="section-secondary-title">
              Html | Css | JavaScript | JQuery | MaterializeCSS
            </span>
      <p class="projects-item_description">
        Worked as a Markup/Javascript developer.</p>
      <a href="" class="btn primary-btn light projects-item_link">
        <span>Check the website</span>
      </a>
    </div>
  </div>
  <div class="col-6">
    <div class="projects-item">
      <h1 class="projects-item_title">
        myclient.ge
      </h1>
      <span class="section-secondary-title">
              Html | Css | JavaScript | JQuery | MaterializeCSS
            </span>
      <p class="projects-item_description">
        Worked as a Markup/Javascript developer.</p>
      <a href="" class="btn primary-btn light projects-item_link">
        <span>Check the website</span>
      </a>
    </div>
  </div>
  </div>
</section>
